<p id="notice"><%= notice %></p>




<div  class="hero-unit"  ALIGN=center>
<h1>Registrados</h1>
 <div class="container">
<div class="panel panel-success" width="50">
<br>
<br>
<table class="table table-striped" >
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
<!--       <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @registers.each do |register| %>
      <tr>
        <td><%= register.name %></td>
        <td><%= register.email %></td>
        <td><%= link_to 'Ver', register %></td>
        <td><%= link_to 'Editar', edit_register_path(register) %></td>
        <td><%= link_to 'Eliminar', register, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>



</div>


<br>

<%= link_to 'Registrar nuevo', new_register_path %>
