<p id="notice"><%= notice %></p>

<h1>Listing New Volunteers</h1>

<table>
  <thead>
    <tr>
      <th>Lasname</th>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Ci</th>
      <th>Address</th>
      <th>City</th>
      <th>Phone</th>
      <th>Cell</th>
      <th>Mail</th>
      <th>Ocupation</th>
      <th>Free</th>
      <th>Reason</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @new_volunteers.each do |new_volunteer| %>
      <tr>
        <td><%= new_volunteer.lasname %></td>
        <td><%= new_volunteer.name %></td>
        <td><%= new_volunteer.birthdate %></td>
        <td><%= new_volunteer.ci %></td>
        <td><%= new_volunteer.address %></td>
        <td><%= new_volunteer.city %></td>
        <td><%= new_volunteer.phone %></td>
        <td><%= new_volunteer.cell %></td>
        <td><%= new_volunteer.mail %></td>
        <td><%= new_volunteer.ocupation %></td>
        <td><%= new_volunteer.free %></td>
        <td><%= new_volunteer.reason %></td>
        <td><%= new_volunteer.area %></td>
        <td><%= link_to 'Show', new_volunteer %></td>
        <td><%= link_to 'Edit', edit_new_volunteer_path(new_volunteer) %></td>
        <td><%= link_to 'Destroy', new_volunteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New New volunteer', new_new_volunteer_path %>
