<p id="notice"><%= notice %></p>

<p>
  <strong>Lasname:</strong>
  <%= @new_volunteer.lasname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @new_volunteer.name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @new_volunteer.birthdate %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @new_volunteer.ci %>
</p>

<p>
  <strong>Address:</strong>
  <%= @new_volunteer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @new_volunteer.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @new_volunteer.phone %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @new_volunteer.cell %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @new_volunteer.mail %>
</p>

<p>
  <strong>Ocupation:</strong>
  <%= @new_volunteer.ocupation %>
</p>

<p>
  <strong>Free:</strong>
  <%= @new_volunteer.free %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @new_volunteer.reason %>
</p>

<p>
  <strong>Area:</strong>
  <%= @new_volunteer.area %>
</p>

<%= link_to 'Edit', edit_new_volunteer_path(@new_volunteer) %> |
<%= link_to 'Back', new_volunteers_path %>
