 
<div class="container">
 
 
 <div ><%= link_to 'Crear Tema En Foro ', new_post_path %> </div>
 <hr>
 <div ><%= link_to 'Crear Actividad ', new_activity_path %> </div>
 <hr>
 <%= link_to 'Crear Voluntario', new_volunteer_path %>
 <hr>
 <div>
 	<%= link_to 'Ver nuevos voluntarios ',  newvolunteers_path %>
 </div>
<hr>
<div> <a href="/index1">Eliminar Comentario</a> </div>
<hr>
<div>
	<%= link_to 'Registrados', registers_path %>
</div>

 
 <hr>
 <a href="http://www.contadorvisitasgratis.com" title="contador de visitas html"><img src="http://counter8.bestfreecounterstat.com/private/contadorvisitasgratis.php?c=29fbde60b2f0feba23c9a9fc5936f139" border="0" title="contador de visitas html" alt="contador de visitas html"></a>Visitas


        </div>