

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="container">
  
             
  <table class="table">
    
    <tbody>
      <tr class="success">
        <td>
          <img width="300" height="300" src=<%=asset_path "a14f1.JPG" %>>
         
        </td>
        <td>
          
          <img width="300" height="300" src=<%=asset_path "a14f2.JPG" %>>
         


        </td>
        <td>
          
          <img width="300" height="300" src=<%=asset_path "a14f3.JPG" %>>
         


        </td>
       
       
       
      </tr>
      <tr class="info">
        <td>
          
          <img width="300" height="300" src=<%=asset_path "a14f4.JPG" %>>
         


        </td>
         <td>
          
          <img width="300" height="300" src=<%=asset_path "a14f5.JPG" %>>
         


        </td>
        <td>
          
          <img width="300" height="300" src=<%=asset_path "a14f6.JPG" %>>
         


        </td>
      </tr>
            
    </tbody>
  </table>
</div>

</body>
</html>
