

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="container">
  
             
  <table class="table">
    
    <tbody>
      <tr class="success">
        <td>
          <img width="300" height="300" src=<%=asset_path "a13f1.jpg" %>>
         
        </td>
        <td>
          
          <img width="300" height="300" src=<%=asset_path "a13f2.jpg" %>>
         


        </td>
        <td>
          
          <img width="300" height="300" src=<%=asset_path "a13f3.jpg" %>>
         


        </td>
       
       
       
      </tr>
      <tr class="info">
        <td>
          
          <img width="300" height="300" src=<%=asset_path "a13f4.jpg" %>>
         


        </td>
         <td>
          
          <img width="300" height="300" src=<%=asset_path "a13f5.jpg" %>>
         


        </td>
      
      </tr>
          
    </tbody>
  </table>
</div>

</body>
</html>
