

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="container">
  
             
  <table class="table">
    
    <tbody>
      <tr class="success">
        <td>
          <a href="/fotos1"><img width="200" height="200" src=<%=asset_path "a1f1.jpg" %>></a>
          CONCURSO DE TEATRO BANCO CENTRAL DE BOLIVIA
        </td>
        <td>
          
          <a href="/fotos2"><img width="200" height="200" src=<%=asset_path "a2f1.jpg" %>></a>
           <p>DÍA DEL NIÑO - ABRIL 2014</p>

         


        </td>
         <td>
          
          <a href="/fotos3"><img width="200" height="200" src=<%=asset_path "a3f1.jpg" %>></a>
          ENTREGA DE PRODUCTOS HECHO EN BOLIVIA

         


        </td>
       <td>
          
          <a href="/fotos4"><img width="200" height="200" src=<%=asset_path "a4f1.jpg" %>></a>
         EXPOINDUSTRIA-2013

         


        </td>
       
       
      </tr>
      <tr class="success">
        <td>
          
          <a href="/fotos5"><img width="200" height="200" src=<%=asset_path "a5f1.jpg" %>></a>
         FIC2015

         


        </td>
        <td>
          
          <a href="/fotos6"><img width="200" height="200" src=<%=asset_path "a6f1.jpg" %>></a>
       EXPERIENCIAS EXITOSAS DE EMPRESARIOS BOLIVIANOS

         


        </td>
       <td>
          
          <a href="/fotos7"><img width="200" height="200" src=<%=asset_path "a7f1.jpg" %>></a>
       RECONOCIMIENTO A CADEPIA COCHABAMBA

         


        </td>
        <td>
          
          <a href="/fotos8"><img width="200" height="200" src=<%=asset_path "a8f1.jpg" %>></a>
         RECONOCIMIENTO GRUPO MARIA JUANA

         


        </td>
      </tr>
      <tr class="success">
         <td>
          
          <a href="/submenufotos"><img width="200" height="200" src=<%=asset_path "a9f1.JPG" %> ></a>
          EXPO-INDUSTRIA 2012

        

         


        </td>
        <td>
          
          <a href="/fotos14"><img width="200" height="200" src=<%=asset_path "a14f1.JPG" %>></a>
          SEMINARIO CÓMO EXPROTAR A EUROPA
       

         


        </td>
       <td>
          
          <a href="/fotos15"><img width="200" height="200" src=<%=asset_path "a15f1.JPG" %>></a>
          TALLERES INFORMATIVOS PRO-BOLIVIA
       

         


        </td>
        <td>
          
          <a href="/fotos16"><img width="200" height="200" src=<%=asset_path "a16f2.JPG" %>></a>
          VISITA COLEGIO LA SALLE
         
         


        </td>
        
      </tr>
      <tr class="success">
         <td>
          
          <a href="/fotos17"><img width="200" height="200" src=<%=asset_path "a17f1.JPG" %>></a>
          VISITA UNIFRANZ
        

         


        </td>
       
        
      </tr>
     
    </tbody>
  </table>
</div>

</body>
</html>
