

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="container">
  
            
             
  <table class="table">
    
    <tbody>
        <tr class="info">
         <td>
          <a href="http://www.coboce.com/index.php/component/k2/itemlist/user/712-coboceltda"><img width="100" height="100" src=<%=asset_path "fun1.jpg" %>></a>
        </td>
        <td>
          <a href="http://www.copelme.com/"><img width="100" height="100" src=<%=asset_path "fun2.jpg" %>></a>
          
        
        </td>
         <td>
          <a href="http://www.ceramicacimco.com/"><img width="100" height="100" src=<%=asset_path "fun3.jpg" %>></a>
        </td>
        
       
      </tr>
       <tr class="success">
         <td>
          <a href="http://www.duralit.net/"><img width="100" height="100" src=<%=asset_path "fun4.jpg" %>></a>
        </td>
        <td>
          <a href="http://www.facer.com.bo/"><img width="100" height="100" src=<%=asset_path "fun5.jpg" %>></a>
          
        
        </td>
         <td>
          <a href="http://www.unilever.bo/"><img width="100" height="100" src=<%=asset_path "fun6.jpg" %>></a>
        </td>
        
       
      </tr>

         <tr class="info">
           <td>
          <img width="100" height="100" src=<%=asset_path "fun7.png" %>>
        </td>
        <td>
         <a href="http://www.imprentasagitario.com/"> <img width="100" height="100" src=<%=asset_path "fun8.jpg" %>></a>
          
        
        </td>
         <td>
          <a href="http://www.ypfbrefinacion.com.bo/"><img width="100" height="100" src=<%=asset_path "fun9.jpg" %>></a>
        </td>
        
       
       
       
       
      </tr>
      
        
        
      
    </tbody>
  </table>
</div>

</body>
</html>
