<!DOCTYPE html>

   

<main role="main" class="main">
    <div class="container">
    
                
        <div id="main-slide-wrap">
            <div id="main-slide">
                <div class="main-slide">
                                        <div class="slide-item whole-click" >
                        <div class="caption">
                            <img src=<%=asset_path "evento1.jpg" %> >
                            <h2><a href="">La Paz de noche</a></h2>
                        </div>
                    </div>
                    <div class="slide-item whole-click" >
                        <div class="caption">
                            <img src=<%=asset_path "evento2.jpg" %>>
                            <h2><a href="">La Paz de noche</a></h2>
                        </div>
                    </div>
                    
                                        
                                        <div class="slide-item whole-click" >
                        <div class="caption">
                            <img src=<%=asset_path "evento4.jpg" %>>
                            <h2><a href="">Cochabamba</a></h2>
                        </div>
                    </div>
                                    </div>
            </div>  
            <div id="main-slide-pager">
                                <a data-slide-index="0" href="/posts">
                    <strong>Foros Virtuales</strong>
                    Escenario de comunicacion, donde se propicia el debate, la concertación y el concenso de ideas             </a>
                                <a data-slide-index="1" href="/turismo">
                    <strong>Turismo</strong>
                    Diversa cultura, regiones geográficas, rica historia y gastronomía        </a>
                                <a data-slide-index="2" href="">
                    <strong>Pulso económico</strong>
                    Actualidad, análisis y opinión             </a>
                            </div>
        </div>
        
                
    </div>
</main>



<div id="accesos-slide">
    <div class="container">
        <div class="accesos-slide">
            
                       <div class="slide-item whole-click">
                <div class="slide-thumb" >
                    <div class="caption">
                        <img src=<%=asset_path "casoexito4.jpg" %>>
                        <h2><a href="">CASOS DE ÉXITO</a></h2>
                                            </div>
                </div>
            </div>
                        <div class="slide-item whole-click">
                <div class="slide-thumb" >
                    <div class="caption">
                        <img src=<%=asset_path "casoexito2.jpg" %>>
                        <h2><a href="">LANZAMIENTOS</a></h2>
                                            </div>
                </div>
            </div>
             <div class="slide-item whole-click">
                <div class="slide-thumb" >
                    <div class="caption">
                        <img src=<%=asset_path "casoexito.jpg" %>>
                        <h2><a href="">REVISTA</a></h2>
                                            </div>
                </div>
            </div>
             <div class="slide-item whole-click">
                <div class="slide-thumb" >
                    <div class="caption">
                        <img src=<%=asset_path "casoexito3.jpg" %>>
                        <h2><a href="">FERIA VIRTUAL</a></h2>
                                            </div>
                </div>
            </div>
                        
        </div>
    </div>
</div>

       
<div id="acceso-sectores-estrategicos">

    <div class="container">
       
       <div class="button" >
     EMPRESAS MIEMBRO 
    </div>
        
            <style>
                #acceso-sectores-estrategicos ul li {
                    width: 50%;
                }
                @media (min-width: 48em){
                    #acceso-sectores-estrategicos ul li {
                        width: 11.111111111111%;
                    }
                }
            </style>
            <ul>           
             <li> <a href="http://www.coboce.com/index.php/component/k2/itemlist/user/712-coboceltda"><img width="60" height="60" src=<%=asset_path "fun1.jpg" %>></a></li>
             <li><a href="http://www.copelme.com/"><img width="58" height="58"src=<%=asset_path "fun2.jpg" %>></a></li>
             <li><a href="http://www.ceramicacimco.com/"><img width="60" height="60"src=<%=asset_path "fun3.jpg" %>></a></li>
             <li><a href="http://www.duralit.net/"><img width="62" height="60"src=<%=asset_path "fun4.jpg" %>></a></li>
             <li><a href="http://www.facer.com.bo/"><img width="60" height="60"src=<%=asset_path "fun5.jpg" %>></a></li>
             <li><a href="http://www.unilever.bo/"><img width="60" height="60"src=<%=asset_path "fun6.jpg" %>></a></li>
             <li><a href=" "><img width="60" height="60"src=<%=asset_path "fun7.png" %>></a></li>
             <li> <a href="http://www.imprentasagitario.com/"> <img width="60" height="60" src=<%=asset_path "fun8.jpg" %>></a></li>
             <li><a href="http://www.ypfbrefinacion.com.bo/"><img width="60" height="60"src=<%=asset_path "fun9.jpg" %>></a></li>
                  
                    
        <ul>        
    </div>
</div>
          
    <div id="bottom">
    <div class="container">
         <div class="button" >
     Productos con sello
    </div>
        <nav>
            <div>
              
                <ul class="">
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">IMBA</a></li>
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">Elaboración y conservación de carne</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="">Elaboración y conservación de frutas, legumbres y hortalizas</a></li>
                    <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href="">Elaboración de aceites y grasas de origen vegetal y animal</a></li>
                    <li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href="">Elaboración de productos lácteos</a></li>
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">Elaboración de productos de molinería</a></li>
       
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">   Elaboración de productos de panadería</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="">Elaboración de azúcar</a></li>
                    <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href="">Elaboración de cacao y chocolate y de productos de confitería</a></li>
                    <li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href="">Elaboración de macarrones, fideos, alcuzcuz y productos farináceos similares</a></li>


                </ul>           
            </div>
            <div>
                
              <ul class="">
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">Elaboración de macarrones, fideos, alcuzcuz y productos farináceos similares</a></li>
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">Elaboración de otros productos alimenticios n.c.p.</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="">Elaboración de piensos preparados para animales</a></li>
                    <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href=""> Destilación, rectificación y mezcla de bebidas alcohólicas</a></li>
                    <li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href="">Elaboración de vinos</a></li>
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">Elaboración de bebidas malteadas y de malta</a></li>
       
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href=""> Elaboración de bebidas no alcohólicas; producción de aguas minerales, otras aguas embotelladas.</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="">Elaboración de productos de tabaco</a></li>
                    <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href=""> Preparación e hilatura de fibras textiles</a></li>
                    <li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href="">Tejedura de productos textiles</a></li>


                </ul>           
            </div>
             <div>
                
              <ul class="">
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">Fabricación de artículos confeccionados de materiales textiles, excepto prendas de vestir</a></li>
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">Fabricación de otros productos textiles n.c.p.</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href=""> Fabricación de prendas de vestir, excepto prendas de piel</a></li>
                    <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href=""> Fabricación de artículos de punto y ganchillo</a></li>
                    <li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href=""> Curtido y adobo de cueros; adobo y teñido de pieles</a></li>
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">Fabricación de maletas, bolsos de mano y artículos similares, y de artículos de talabartería y guarnicionería</a></li>
       
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">Fabricación de calzado</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href=""> Aserrado y acepilladura de madera</a></li>
                    <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href="">Aserrado y acepilladura de madera</a></li>
                    <li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href="">Fabricación de hojas de madera para enchapado y tableros a base de madera</a></li>


                </ul>           
            </div>
              <div>
                
              <ul class="">
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1"> Fabricación de partes y piezas de carpintería para edificios y construcciones</a></li>
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">Fabricación de pasta de madera, papel y cartón</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="">Fabricación de papel y cartón ondulado y de envases de papel y cartón</a></li>
                    <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href="">Fabricación de otros artículos de papel y cartón</a></li>
                    <li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href="">Fabricación de productos de la refinación del petróleo</a></li>
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">Fabricación de sustancias químicas básicas</a></li>
       
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">Fabricación de abonos y compuestos de nitrógeno; fabricación de plaguicidas y otros productos químicos de uso agropecuario</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href=""> Fabricación de pinturas, barnices y productos de revestimiento similares, tintas de imprenta y masillas</a></li>
                    <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href="">Fabricación de jabones y detergentes, preparados para limpiar y pulir, perfumes y preparados de tocador</a></li>
                    <li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href="">Fabricación de otros productos químicos n.c.p.</a></li>


                </ul>           
            </div>
             <div>
                
              <ul class="">
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1"> Fabricación de productos farmacéuticos, sustancias químicas medicinales y productos botánicos de uso farmacéutico</a></li>
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">Fabricación de cubiertas y cámaras de caucho; recauchutado y renovación de cubiertas de caucho</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="">Fabricación de otros productos de caucho</a></li>
                    <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href="">Fabricación de productos de plástico</a></li>
                    <li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href="">Fabricación de vidrio y productos de vidrio</a></li>
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">Fabricación de materiales de construcción de arcilla</a></li>
       
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">Fabricación de cemento, cal y yeso</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="">Fabricación de artículos de hormigón, cemento y yeso; corte, talla y acabado de la piedra</a></li>
                    <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href="">Industrias básicas de hierro y acero</a></li>
                    <li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href="">Fabricación de productos primarios de metales preciosos y otros metales no ferrosos</a></li>


                </ul>           
            </div>
                <div>
                
              <ul class="">
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">Fabricación de productos metálicos para uso estructural</a></li>
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">Fabricación de tanques, depósitos y recipientes de metal</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="">Fabricación de generadores de vapor, excepto calderas de agua caliente para calefacción central</a></li>
                    <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href="">Fabricación de artículos de cuchillería, herramientas de mano y artículos de ferretería</a></li>
                    <li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href="">Fabricación de pilas, baterías y acumuladores</a></li>
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">Fabricación de otros hilos y cables eléctricos</a></li>
       
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href=""> Fabricación de equipo eléctrico de iluminación</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="">Fabricación de maquinaria y equipo n.c.p.</a></li>
                    <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href="">Industrias básicas de hierro y acero</a></li>
                    <li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href="">Fabricación de vehículos automotores, remolques y semirremolques</a></li>


                </ul>           
            </div>
               <div>
                
              <ul class="">
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">Fabricación de muebles</a></li>
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">Fabricación de joyas y artículos conexos</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="">Fabricación de instrumentos y materiales médicos y odontológicos</a></li>
                    <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href="">Otras industrias manufactureras n.c.p.</a></li>
                    <li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href="">Reparación de maquinaria</a></li>
                    


                </ul>           
            </div>

            
</div>
    
  



  


<script type='text/javascript' src='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/js/jquery.fancybox.pack.js?ver=1.0'></script>

<script type='text/javascript' src='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/js/jquery.bxslider.min.js?ver=1.0'></script>


<script type='text/javascript' src='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/js/bootstrap.min.js?ver=1.0'></script>

<script type='text/javascript' src='http://www.bancomext.com/wp-includes/js/hoverIntent.min.js?ver=r7'></script>

<script type='text/javascript' src='http://www.bancomext.com/wp-content/themes/bancomext/assets/frontend/js/app.min.js?ver=1.1423172626'></script>
    </body>
</html>