
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" lang="en-gb">

<head>
<script>var SITE_URL = 'http://wowslider.com/';</script> 
<!-- hace que no gire pero todos del mismo tam -->

<!-- <link rel="stylesheet" href="http://wowslider.com/styles/mainstyle.css" type="text/css" media="screen">
 -->
<!-- esto hace q todo tenga otro estilo -->

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Bootstrap Carousel - Bootstrap Carousel Sample</title>
<meta name="description" content="WOWSlider Slideshow Creator is the easy-to-use software which saves a lot of your time and allows you to create professional slideshows in a few clicks! Bootstrap carousel." />

<meta name="viewport" content="width=device-width, user-scalable=no">
<link rel="shortcut icon" href="http://wowslider.com/favicon.ico" />

<script type="text/javascript" src="http://wowslider.com/images/demo/jquery.js"></script>
<script type="text/javascript" src="http://wowslider.com/styles/a.js"></script>
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-25854704-1']);
_gaq.push(['_setDomainName', '.wowslider.com']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_setAllowHash', false]);
if(document.cookie.match("(^|;\\s)__utma") && !/utmcsr=\(direct\)/.test(unescape(document.cookie))) {
    _gaq.push(
      ['_setReferrerOverride', ''],
      ['_setCampNameKey', 'aaan'], 
      ['_setCampMediumKey', 'aaam'], 
      ['_setCampSourceKey', 'aaas'], 
      ['_setCampTermKey', 'aaat'], 
      ['_setCampContentKey', 'aaac'], 
      ['_setCampCIdKey', 'aaaci']
    )
}

_gaq.push(['_trackPageview']);  

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

<!-- WOW Visits -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1071863997;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "YwhdCOff5AIQvbGN_wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1071863997/?label=YwhdCOff5AIQvbGN_wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


</head>


<body>
<br>
<br>
<br>
<div class="container">







<div>
        <!-- Start WOWSlider.com BODY section -->
        <link rel="stylesheet" type="text/css" href="http://wowslider.com/sliders/demo-80/engine1/style.css" />

<div id="wowslider-container1"  style="position: relative; z-index:0;">


  <table>
<tr>
  <td>

    <div class="ws_images" style="width: 700px"><ul>
  <li><a href="/activities"><img src=<%=asset_path "evento1.jpg" %>/> </a> </li>
  <li><a href="/activities"><img src=<%=asset_path "evento4.jpg" %>/> </a></li>
  <li><a href="/activities"><img src=<%=asset_path "evento2.jpg" %>/> </a></li>

</ul>




</div>

  

  </td>

<td>
    <br>
  </td>

  <td>

    <div  style=" font-size:18px;">
              <a data-slide-index="0" href="/posts">
  <strong>Foros Virtuales</strong>
  Escenario de comunicacion, donde se propicia el debate, la concertación y el concenso de ideas             </a>
             <br>
             <p>--------------------------------------</p> 

             <a data-slide-index="1" href="/turismo">
  <strong>Turismo en Bolivia</strong>
  Diversa cultura, regiones geográficas, rica historia y gastronomía        </a>
             <br>
             <p>--------------------------------------</p>
              <a data-slide-index="2" href="">
  <strong>Pulso económico</strong>
  Actualidad, análisis y opinión             </a>
</div>


  </td>
</tr>
</table>










<div class="ws_bullets">

 <div>


	<!-- <a href="#" title="Plumage"><img src="http://wowslider.com/sliders/demo-80/data1/tooltips/plumage176723_1920.jpg" alt="Plumage"/>Image zoom effect thumbnail plugin</a>
	<a href="#" title="Sheet"><img src="http://wowslider.com/sliders/demo-80/data1/tooltips/nature497978_1920.jpg" alt="Sheet"/>Page free download on website</a>
	<a href="#" title="Black and White Sheet"><img src="http://wowslider.com/sliders/demo-80/data1/tooltips/sheet546475_1920.jpg" alt="Black and White Sheet"/>Photo tutorial simple with controls</a>
 --></div></div>
<div class="ws_shadow"></div>
</div>



<script type="text/javascript" src="http://wowslider.com/images/demo/wowslider.js"></script>
<script type="text/javascript" src="http://wowslider.com/sliders/demo-80/engine1/script.js"></script>        <!-- End WOWSlider.com BODY section -->
<br />
</div>
    



</div><!-- end of .container -->




<div id="acceso-sectores-estrategicos">

    <div class="container">
       
       <div class="button" >
     EMPRESAS MIEMBRO 
    </div>
        
            <style>
                #acceso-sectores-estrategicos ul li {
                    width: 50%;
                }
                @media (min-width: 48em){
                    #acceso-sectores-estrategicos ul li {
                        width: 11.111111111111%;
                    }
                }
            </style>
            <ul>           
             <li> <a href="http://www.coboce.com/index.php/component/k2/itemlist/user/712-coboceltda" target="_blank"><img width="60" height="60" src=<%=asset_path "fun1.jpg" %>></a></li>
             <li><a href="http://www.copelme.com/" target="_blank"><img width="58" height="58"src=<%=asset_path "fun2.jpg" %>></a></li>
             <li><a href="http://www.ceramicacimco.com/" target="_blank"><img width="60" height="60"src=<%=asset_path "fun3.jpg" %>></a></li>
             <li><a href="http://www.duralit.net/" target="_blank"><img width="62" height="60"src=<%=asset_path "fun4.jpg" %>></a></li>
             <li><a href="http://www.facer.com.bo/" target="_blank"><img width="60" height="60"src=<%=asset_path "fun5.jpg" %>></a></li>
             <li><a href="http://www.unilever.bo/" target="_blank"><img width="60" height="60"src=<%=asset_path "fun6.jpg" %>></a></li>
             <li><a href=" "><img width="60" height="60"src=<%=asset_path "fun7.png" %>></a></li>
             <li> <a href="http://www.imprentasagitario.com/" target="_blank"> <img width="60" height="60" src=<%=asset_path "fun8.jpg" %>></a></li>
             <li><a href="http://www.ypfbrefinacion.com.bo/" target="_blank"><img width="60" height="60"src=<%=asset_path "fun9.jpg" %>></a></li>
                  
                    
        <ul>        
    </div>
</div>











<div id="bottom">
    <div class="container">
         <div class="button" >
     Productos con sello
    </div>

        <nav>
            <div>
              
                <ul class="">
                    <!-- <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">IMBA</a></li> -->
                    <br>
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">Elaboración y conservación de carne</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="">Elaboración y conservación de frutas, legumbres y hortalizas</a></li>
                    <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href="">Elaboración de aceites y grasas de origen vegetal y animal</a></li>
                    <li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href="">Elaboración de productos lácteos</a></li>
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">Elaboración de productos de molinería</a></li>
                    
       
                    
                    


                </ul>           
            </div>
            <div>
                
              <ul class="">
                   <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">   Elaboración de productos de panadería</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="">Elaboración de azúcar</a></li>
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">Elaboración de macarrones, fideos, alcuzcuz y productos farináceos similares</a></li>
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">Elaboración de otros productos alimenticios n.c.p.</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="">Elaboración de piensos preparados para animales</a></li>
                    
                    

                </ul>           
            </div>
             <div>
                
              <ul class="">
                    <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href=""> Destilación, rectificación y mezcla de bebidas alcohólicas</a></li>
                    <li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href="">Elaboración de vinos</a></li>
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">Elaboración de bebidas malteadas y de malta</a></li>
       
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href=""> Elaboración de bebidas no alcohólicas; producción de aguas minerales, otras aguas embotelladas.</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="">Elaboración de productos de tabaco</a></li>
                    
                    


                </ul>           
            </div>
              <div>
                
              <ul class="">
                    <li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">Fabricación de artículos confeccionados de materiales textiles, excepto prendas de vestir</a></li>
                    <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">Fabricación de otros productos textiles n.c.p.</a></li>
                    <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href=""> Fabricación de prendas de vestir, excepto prendas de piel</a></li>
                    <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href=""> Fabricación de artículos de punto y ganchillo</a></li>
                    <li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href=""> Curtido y adobo de cueros; adobo y teñido de pieles</a></li>
                   
                    
                    
                  
                  
                    <a href="/subrubros">
                    <div class="button" >
                        VER MÁS...
                    </div>
                    </a>


                </ul>           
            </div>
           
               
</div>








</body></html>