

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="container">
  
             
  <table class="table">
    
    <tbody>
      <tr class="success">
        <td>
          <a href="/fotos9"><img width="200" height="200" src=<%=asset_path "a9f1.JPG" %>></a>
            EQUIPO DE VOLUNTARIOS
        </td>
        <td>
          
          <a href="/fotos10"><img width="200" height="200" src=<%=asset_path "a10f1.JPG" %>></a>
          FIRMA DEL ACTA DE FUNDACIÓN 

         


        </td>
         <td>
          
          <a href="/fotos11"><img width="200" height="200" src=<%=asset_path "a11f1.JPG" %>></a>
          MINI ENTRADA

         


        </td>
       <td>
          
          <a href="/fotos12"><img width="200" height="200" src=<%=asset_path "a12f1.JPG" %>></a>
        PRESENTACIÓN DE GRUPOS JUVENILES

         


        </td>
       
       
      </tr>
      <tr class="success">
        <td>
          
          <a href="/fotos13"><img width="200" height="200" src=<%=asset_path "a13f1.JPG" %>></a>
       VISITANTES EN EL STAND

         


        </td>
       
      </tr>
     
    </tbody>
  </table>
</div>

</body>
</html>
