

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="container">
  
             
  <table class="table">
    
    <tbody>
      <tr class="success">
        <td>
          <a href="/fotos9"><img width="200" height="200" src=<%=asset_path "a9f1.jpg" %>></a>
          CONCURSO DE TEATRO BANCO CENTRAL DE BOLIVIA
        </td>
        <td>
          
          <a href="/fotos10"><img width="200" height="200" src=<%=asset_path "a10f1.jpg" %>></a>
          DÍA DEL NIÑO- ABRIL 2014

         


        </td>
         <td>
          
          <a href="/fotos11"><img width="200" height="200" src=<%=asset_path "a11f1.jpg" %>></a>
          ENTREGA DE PRODUCTOS HECHO EN BOLIVIA

         


        </td>
       <td>
          
          <a href="/fotos12"><img width="200" height="200" src=<%=asset_path "a12f1.jpg" %>></a>
         EXPOINDUSTRIA-2013

         


        </td>
       
       
      </tr>
      <tr class="success">
        <td>
          
          <a href="/fotos13"><img width="200" height="200" src=<%=asset_path "a13f1.jpg" %>></a>
         FIC2015

         


        </td>
       
      </tr>
     
    </tbody>
  </table>
</div>

</body>
</html>
