<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registered.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registered.email %>
</p>

<%= link_to 'Edit', edit_registered_path(@registered) %> |
<%= link_to 'Back', registereds_path %>
