


















<div class="container">

<h1>ANOTA TUS DATOS</h1>
<br>

<table class="table">


<%= form_for(@newvolunteer) do |f| %>
  
<tr class="info">
  <th>
 

    Apellidos<br>
    <%= f.text_field :lasname %>
 
  </th>
  </tr>
  <tr class="info">
  <th>
 

    Nombres<br>
    <%= f.text_field :name %>
 
  </th>
  </tr>
  <tr class="info">
  <th>
 

    Fecha de Nacimineto<br>
    <%= f.text_field :birthdate %>
 
  </th>
  </tr>
  <tr class="info">
  <th>
 

    Carnet de Identidad<br>
    <%= f.text_field :ci %>
 
  </th>
  </tr>
  <tr class="info">
  <th>
 

    Dirección<br>
    <%= f.text_field :address %>
 
  </th>
  </tr>
   <tr class="info">
  <th>
 

    Ciudad<br>
    <%= f.text_field :city %>
 
  </th>
  </tr>
 <tr class="info">
  <th>
 

    Teléfono<br>
    <%= f.text_field :phone %>
 
  </th>
  </tr>
  <tr class="info">
  <th>
 

    Celular<br>
    <%= f.text_field :cell %>
 
  </th>
  </tr>
<tr class="info">
  <th>
 

    Email<br>
    <%= f.text_field :mail %>
 
  </th>
  </tr>
  <tr class="info">
  <th>
 

    Ocupación<br>
    <%= f.text_field :ocupation %>
 
  </th>
  </tr>
  <tr class="info">
  <th>
 

    Días y hoarios disponibles<br>
    <%= f.text_area :free %>
 
  </th>
  </tr>
  <tr class="info">
  <th>
 
Razón por la que desea ser voluntario<br>
    <%= f.text_area :reason %>
 
  </th>
  </tr>
 <tr class="info">
  <th>
 
Área en la que desea realizar el voluntariado<br>
    <%= f.text_field :area %>
 
  </th>
  </tr>
<tr class="info">
  <th>

  <div class="actions">
    <%= f.submit 'Aceptar'%>
  </div>
  </th>
  </tr>
  
 
 
 
<% end %>
</table>



</div>
